.cgi-logo {
    background: linear-gradient(white, white) -20px 20px,
        linear-gradient(360deg, #5236ab 0, #e41937 100%);
    background-repeat: no-repeat;
}

.navbar-links li {
    position: relative;
}

.navbar-links li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 100%;
    height: 3px;
    background-color: var(--heading-color);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.navbar-links li:hover::after {
    opacity: 1;
}